Checks: >
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-avoid-c-arrays,
  modernize-*,
# modernize-use-nullptr has a bug that strong_ordering compare with zero will generate a warning message
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
HeaderFilterRegex:   '\.hpp$'
