BasedOnStyle: Google
IndentWidth: 4
SortIncludes: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
ColumnLimit: 0