build
assets/*
!assets/materials
!assets/shaders/
!assets/fonts/
!assets/test/
.xmake
temp
.cache
vtune

.vscode/compile_commands.json

# ispc header will be generated during compilation
*_ispc.h

imgui.ini
