[submodule "opengex"]
	path = External/src/opengex
	url = https://github.com/netwarm007/OpenGEX.git
[submodule "ispc"]
	path = External/src/ispc
	url = https://github.com/ispc/ispc.git
[submodule "bullet3"]
	path = External/src/bullet3
	url = https://github.com/bulletphysics/bullet3.git
