BasedOnStyle: Google
IndentWidth: 4
SortIncludes: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: true
AccessModifierOffset: -4
ColumnLimit: 0